.page.theme_light {
  --bckgColor: #fff1f7;
  --accentColor: #ff8dcb;
  --titleContentColor: #353430;
  --mainTextContentColor: #353430;
  --secTextContentColor: #353430;
  --buttonColor: #353430;
  --hoverButtonColor: rgba(50, 49, 45, 0.4);
  --logoColor: #ffc2e6;
  --logoShadowColor: #ff0070;
  --logoDecColor: #353430;
  --bckgImage: url(../images/cover-image-light.png);
}

.page.theme_light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  .page {
    --bckgColor: #fff1f7;
    --accentColor: #ff8dcb;
    --titleContentColor: #353430;
    --mainTextContentColor: #353430;
    --secTextContentColor: #353430;
    --buttonColor: #353430;
    --hoverButtonColor: rgba(50, 49, 45, 0.4);
    --logoColor: #ffc2e6;
    --logoShadowColor: #ff0070;
    --logoDecColor: #353430;
    --bckgImage: url(../images/cover-image-light.png);
  }

  .header__rec {
    display: none;
  }
}

