.page {
  font-family: var(--mainFont);
  color: var(--mainTextContentColor);
  background-color: var(--bckgColor);
  background-image: var(--bckgImage);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-content: space-between;
  position: relative;
  block-size: 100vh;
  padding: var(--contentPadding);
  margin-block-end: 40px;
  min-block-size: 668px;
}



.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  inset-block-start: var(--contentPadding);
  inset-inline-end: var(--contentPadding);
  border-block-start: 1px solid var(--logoDecColor);
  border-inline-end: 1px solid var(--logoDecColor);
}

.decorated-zone::after {
  inset-inline-start: var(--contentPadding);
  inset-block-end: var(--contentPadding);
  border-block-end: 1px solid var(--logoDecColor);
  border-inline-start: 1px solid var(--logoDecColor);
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 0 13px;
  block-size: 26px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-transform: lowercase;
  text-align: center;
  font-size: var(--mainfontSize);
  color: var(--buttonColor);
  line-height: 100%;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  user-select: none;
  pointer-events: none;
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  outline: 1px solid var(--hoverButtonColor);
}

.header__rec {
  position: absolute;
  inset-block-start: calc(var(--contentPadding) + 4px);
  inset-inline-end: calc(var(--contentPadding) + 8px);
  color: var(--accentColor);
  text-transform: uppercase;
}

.header__rec::after {
  content: "";
  display: inline-block;
  background-color: var(--accentColor);
  box-shadow: 0 0 4px 2px var(--accentColor);
  inline-size: 12px;
  block-size: 12px;
  border-radius: 50%;
  margin-inline-start: 10px;
}

.header__title {
  justify-self: start;
  font-size: var(--logoFontSize);
  font-style: normal;
  font-weight: 700;
  text-shadow: 4px 4px 0 var(--logoShadowColor);
  color: var(--logoColor);
  line-height: 82.5%;
}

.header__lead {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-self: center;
  line-height: 130%;
}

.title-decoration {
  color: var(--secTextContentColor);
  background-color: var(--accentColor);
  font-size: var(--mainfontSize);
  line-height: 130%;
  font-weight: 700;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accentColor);
  transition: box-shadow 0.2s ease-in-out;
}

.link:hover {
  box-shadow: 0 1px currentColor;
}

.content {
  display: grid;
  padding: 0 var(--contentPadding);
  grid-template-columns: 1fr;
  gap: 50px;
}

.content__part {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.content__title {
  min-inline-size: var(--contentHeadingSize);
  color: var(--titleContentColor);
  font-size: var(--mainfontSize);
  font-weight: 700;
}

.content__block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.content__block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card__additional {
  gap: 20px;
}

.card__title {
  text-align: left;
}

.card__title-decoration-simple {
  font-weight: 400;
}

.card__text {
  line-height: 130%;
  font-weight: 400;
  font-size: var(--mainfontSize);
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery__pictures {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery__picture_style {
  display: block;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  object-position: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--contentPadding);
  position: relative;
  margin-block-start: 40px;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__title {
  font-size: var(--logoFontSize);
  font-weight: 700;
  line-height: 82.5%;
  color: var(--logoColor);
  text-shadow: 2px 2px 0 var(--logoShadowColor);
}

@media screen and (width >= 768px) {
  .page {
    --contentPadding: 20px;
    --logoFontSize: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header {
    margin-block-end: 60px;
  }

  .header__title {
    position: relative;
    inset-inline-end: var(--contentPadding);
    inline-size: calc(100% + (var(--contentPadding) * 2));
  }

  .header__lead {
    max-inline-size: calc(50vw - var(--contentPadding));
  }

  .content {
    gap: 80px;
  }

  .content__part:not(.content__columns) {
    grid-template-columns: min-content 1fr;
    gap: 20px;
  }

  .content__part.content__columns .content__title {
    min-inline-size: unset;
    max-inline-size: calc(var(--contentHeadingSize) - var(--contentPadding));
  }

  .gallery__pictures {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-template-areas:
      "sun sun ice"
      "tape book ice"
      "tape street street";
  }

  .gallery_picture-sunset {
    grid-area: sun;
  }

  .gallery_picture-ice-cream {
    grid-area: ice;
  }

  .gallery_picture-tape {
    grid-area: tape;
  }

  .gallery_picture-books {
    grid-area: book;
  }

  .gallery_picture-street {
    grid-area: street;
  }

  .gallery {
    gap: 20px;
  }

  .footer {
    margin-block-start: 60px;
  }
}

@media screen and (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .content__part.content__columns .content__block {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(3, 1fr);
  }

  .content__part.content__columns .content__title {
    max-inline-size: var(--contentHeadingSize);
  }

  .content__part.content__columns .card__title {
    align-self: center;
  }

}
